.main-footer {
  background: $color-background-main-first-footer;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include desktop {
    gap: 70px;
    flex-direction: row;
  }
}
