.button-primery {
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  font-family: $font-family-primary;
  font-weight: 700;
  background: $color-background-hover;
  color: $color-text-secendary;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
  margin-bottom: 106px;
}

.button-signup {
  min-width: 200px;
  line-height: 1.87;
  background: $color-background-button;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-text-secendary;
  gap: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 42px;
  transition: border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-signup:hover {
  stroke: $color-text-hover;
}

.close-btn {
  position: absolute;
  right: 0;
  background-color: $color-background-fill-color-first;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 10px 9px;
}
.button-send {
  background: $color-background-hover;
  color: $color-text-secendary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 76px;
  margin: 30px 144px 40px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  letter-spacing: 0.06em;
}
.button-secendary {
  font-family: $font-family-primary;
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background, color, box-shadow;
  background-color: $color-background-heder-button;
}
.button-secendary:hover,
.button-secendary:focus {
  background: $color-background-hover;
  color: $color-text-secendary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
