.link {
  font-family: $font-family-primary;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--footer {
    color: $color-text-link-footer;
  }
  &--header {
    color: $color-text-link;
    display: flex;
    align-items: center;
    gap: 10px;
    fill: rgba(117, 117, 117, 1);
  }
  &:hover,
  &:focus {
    color: $color-text-hover;
  }
}
