.section {
  padding: 60px 0px;
  @include desktop {
    padding: 94px 0px;
  }

  &__title {
    font-family: $font-family-primary;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

    @include desktop {
      font-size: 36px;
    }
  }
}

.section--lorem {
  padding-bottom: 0;
  display: flex;
  padding-top: 60px;

  @include desktop {
    padding-top: 94px;
  }
}
