.section {
  padding: 94px 0px;
  &__title {
    font-family: $font-family-primary;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}
.section--lorem {
  padding-bottom: 0;
  display: flex;
}
.section--background {
  background: $color-background-heder-button;
}
