.social {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    transition: background-color, fill, border-radius, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--fill {
    fill: $color-background-fill-color-secendary;
  }
  &__link:hover,
  &__link:focus {
    background-color: $color-background-hover;
    border-radius: 50%;
    fill: $color-background-fill-color-first;
  }
}
