$font-family-primary: 'roboto';
$font-family-secondary: 'raleway';
$color-text-primary: #212121;
$color-text-secendary: #ffffff;
$color-text-hover: #2196f3;
$color-text-link: #757575;
$color-text-link-footer: #ffffff99;
$color-background-heder-button: #f5f4fa;
$color-background-main-first-footer: #2f303a;
$color-background-img-wedo: #2f303acc;
$color-background-porfolio-header: #e5e5e5;
$color-background-page-color: #ffffff;
$color-background-hover: #2196f3;
$color-background-fill-color-first: #ffffff;
$color-background-fill-color-secendary: #afb1b8;
$color-background-button: #2196f3;
$color-background-backdrop-modal: #00000033;
$color-background-footer-icon: #ffffff1a;
$color-border-bottom-first: #ececec;
$color-border-input-footer: #ffffff4d;
$color-border-input-hover: #2196f3;
$color-border-icon: #ffffff;
$color-fill-icon: #ffffff;
$color-fill-icon-hover: #2196f3;
